@font-face {
  font-family: "Amatic SC";
  src: url("../Font/AmaticSC-Regular.ttf");
}

body {
  max-width: 1560px;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC";
  width: 100%;
  background-image: url("../img/bg1.jpg");
}

input {
  width: 20%;
  height: 40px;
}

input:first-child {
  margin-left: 10%;
}

footer {
  background: lightgreen;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

#front {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50px;
}

#canvas, #main-background, #bg-win {
  margin: 0 auto;
  margin-top: 5px;
}

#canvas {
  border: 3px solid darkorange;
  display: none;
}

#main-background {
  width: 1000px;
  height: 600px;
  background-image: url("../img/house.png");
  background-size: cover;
}

#menu {
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
}

#menu p {
  position: relative;
  width: 80%;
  height: 50px;
  background: linear-gradient(darkolivegreen, yellow);
  left: 10%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#menu p {
  font-size: 38px;
}

#forPlay, #lose {
  position: absolute;
  width: 40%;
  height: 30%;
  background: white;
  left: 30%;
  top: 40%;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 35px black;
  z-index: 100;
}

#lose {
  display: none;
}

#play, #play-again {
  font-size: 42px;
  color: green;
  text-align: center;
}

.but, .but2{
  width: 20%;
  height: 40px;
  position: relative;
  top: 20%;
  left: 30%;
  cursor: pointer;
}

#logo {
  width: 110px;
  height: 110px;
  border: 10px solid darkolivegreen;
  border-radius: 100%;
  position: relative;
  left: 88%;
  top: -350px;
}

#logo img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100px;
  height: 100px;
  transform: rotate(-20deg);
}

#bg-win {
  background-image: url("../img/house.png");
  background-size: contain;
  width: 1000px;
  height: 600px;
  display: none;
}

#drive, #about, #logo, .circle, .circle2, #menu p {
  box-shadow: 10px 10px 15px grey;
}

#about {
  width: 50%;
  height: 400px;
  position: absolute;
  left: 5%;
  top: 50px;
  background: antiquewhite;
}

#plane {
  position: absolute;
  top: 150px;
}

#name, .describe {
  position: absolute;
  left: 40%;
  color: rebeccapurple;
}

#name {
  font-size: 82px;
}

.describe {
  font-size: 52px;
  top: 150px;
}

form {
  height: 100%;
  font-size: 32px;
}

fieldset {
  clear:both;
  text-align:right;
}

label {
  float:left;
}

footer p {
  margin-left: 50px;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 22px;
}

footer {
  background-image: url("../img/for-footer.png");
}

footer p a {
  text-decoration: none;
  color: black;
  font-family: "Amatic SC";
}

#app, #google {
  float: right;
  margin-top: 300px;
}

#forPlay {
  display: none;
}